@import "vars";

.footer {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $border;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;

    &__author {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
