@import "vars";

.footer {
  height: 84px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $border;
  box-sizing: border-box;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;

    &__author {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
