<div class="main-form">

  <app-form-top-text></app-form-top-text>

  <div class="main-form__form-box">

    <form [formGroup]="form"
          class="main-form__form-box__form">

      <div class="main-form__form-box__form__input-box"
           appDnd
           (fileDropped)="onFileDropped($event)">

        <label class="main-form__form-box__form__input-box__custom-inp">

          <input type="file"
                 (change)="onFileSelected($event)"
                 [multiple]="false">

          <ng-template [ngIf]="!validFile">
            <img src="assets/icons/State=Default.svg"
                 alt="input icon state default">
            <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text">Choose a file</span>
          </ng-template>

          <ng-template [ngIf]="validFile">
            <img src="assets/icons/State=Downloaded.svg"
                 alt="input icon state default">
            <div class="placeholder-wrapper">
              <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text"
                    [title]="file?.name"
                    [class.valid-file]="validFile">{{ file?.name }}</span>
              <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text file-size">
                  {{ file?.size }} MB</span>
            </div>
          </ng-template>

        </label>

      </div>

      <div class="main-form__form-box__form__file-type-box">

        <div class="main-form__form-box__form__file-type-box__text">
          Choose type to convert:
        </div>

        <div class="main-form__form-box__form__file-type-box__radio-box">

          <app-radio-button label="DER"
                            [control]="exportFileTypeControl"
                            [exportFileTypes]="exportFileTypes.DER"></app-radio-button>
          <app-radio-button label="Binary"
                            [control]="exportFileTypeControl"
                            [exportFileTypes]="exportFileTypes.BINARY"></app-radio-button>

        </div>
      </div>

      <div class="main-form__form-box__form__button-box">

<!--        <button class="main-form__form-box__form__button-box__btn"-->
<!--                [disabled]="form.invalid"-->
<!--                (click)="convertFile()">-->
<!--          Convert-->
<!--        </button>-->

        <app-button
          label="Convert"
          [disabled]="form.invalid"
          (onClick)="convertFile()"
        ></app-button>

      </div>

    </form>

  </div>

</div>
